
<!-- header -->

<nav class="navbar navbar-inverse" style="background:#EFF7FE; padding: 1rem !important;">
    <div class="container-fluid">
        <div class="navbar-header">
            <img src="../../../assets/images/infinitylearn_logo.png" alt="logo" height="30px" style="padding-left: 2rem !important;" >
            <span class="headername" style="margin-right: 1rem;margin-left: 15px;"> INFINITY LEARN </span>
            <span style="font-size: 25px; font-weight: 300;">|</span>
            <span class="headername" style="margin-left: 15px;">Magnetic Effect Of Electric Current</span>
        </div>
       
        <div class="nav navbar-right" style="padding-right: 2rem !important;">

            <button class="headericon">
                <i class="fal fa-info-circle"></i>
            </button>
            <button class="headericon">
                <i class="far fa-flag-alt"></i>
            </button>
            <button class="headericon">
                <i class="fal fa-poll-h"></i>
            </button>

            <button type="button" class="leave-btn text-session">LEAVE SESSION</button>
          
        </div>
    </div>
</nav>

<!-- middle content -->

<section class="content row">
    <div class="col-xl-9 col-lg-12 ">
        <div class="tag text-center">
            <li style="margin: 3px;">
                NOW LIVE
            </li>
        </div>
        <div>
            <img src="../../../assets/images/first.png" alt="presentation screen" class="presentation-screen">
            <img src="../../../assets/images/student.png" class="presentation-img" alt="presentation img">
        </div>
        <div class="text-center">
            <i class="fal fa-microphone-slash meeticon blue-bg"></i>
            <i class="far fa-video meeticon off-bg"></i>
            <i class="far fa-hand-paper meeticon off-bg"></i>
            <i class="far fa-expand-arrows meeticon off-bg"></i>
        </div>
    </div>

    <div class="col-xl-3 col-lg-12 text-center" style="display: flex;">
        <div style="padding-top: 90% !important;">
            <div class="toggle-box-btn">
                <i class="fal fa-chevron-double-right"></i>
            </div>
        </div>
        <div class="chat">
            <img src="../../../assets/images/tutor.png" alt="" style="border-radius: 20px" class="tutor-img">
            <mat-tab-group [disableRipple]='true' mat-align-tabs="start">
                <mat-tab label="CHATS">
                    <div style="padding: 0px 1rem !important;">
                        <section class="msg">
                            <span class="msg-time">ARSHIT . 12:01</span><br>
                            <span class="msg-content">Ok Sir</span><br>
                        </section>
                        <hr>
                        <section class="msg">
                            <span class="msg-time">ARSHIT . 12:01</span><br>
                            <span class="msg-content">Ok Sir</span><br>
                        </section>
                        <hr>
                        <section class="msg">
                            <span class="msg-time">ARSHIT . 12:01</span><br>
                            <span class="msg-content">Ok Sir</span><br>
                        </section>
                        <hr>
                        <section class="msg">
                            <span class="msg-time">ARSHIT . 12:01</span><br>
                            <span class="msg-content">Ok Sir</span><br>
                        </section>
                        <hr>
                        <section class="msg">
                            <span class="msg-time">ARSHIT . 12:01</span><br>
                            <span class="msg-content">Ok Sir</span><br>
                        </section>
                        <hr>
                    </div>

                    <div>
                        <input class="textbox" placeholder="Type here..." type="text">
                        <img src="../../../assets/images/thumbs-up_1f44d.png" alt="" style="height: 25px;"
                            class="thumb-img">
                    </div>


                </mat-tab>
                <mat-tab label="DOUBTS">DOUBTS</mat-tab>
            </mat-tab-group>
        </div>
    </div>


</section>